<section class="section hero">
  <div class="hero-inner">
    {{search submit=false instant=true class='search search-full'}}
  </div>
</section>

<div class="container">
  <section class="section knowledge-base">
    <section class="categories blocks">
      <ul class="blocks-list">
        {{#each categories}}
          {{#if ../has_multiple_categories}}
            <li class="blocks-item">
              <a href='{{url}}' class="blocks-item-link">
                <h4 class="blocks-item-title">{{name}}</h4>
                <p class="blocks-item-description">{{excerpt description}}</p>
              </a>
            </li>
          {{else}}
            {{#each sections}}
              <li class="blocks-item {{#if internal}}blocks-item-internal{{/if}}">
                <a href='{{url}}' class="blocks-item-link">
                  <h4 class="blocks-item-title">
                    {{name}}
                    {{#if internal}}
                      <span class="icon-lock" title="{{t 'internal'}}"></span>
                    {{/if}}
                  </h4>
                  <p class="blocks-item-description">{{excerpt description}}</p>
                </a>
              </li>
            {{/each}}
          {{/if}}
        {{/each}}
      </ul>
      {{pagination}}
    </section>
    


    {{#if promoted_articles}}
      <section class="articles">
        <h3>{{t 'promoted_articles'}}</h3>
        <ul class="article-list promoted-articles">
          {{#each promoted_articles}}
            <li class="promoted-articles-item">
              <a href="{{url}}">
                {{title}}
              </a>
            </li>
          {{/each}}
        </ul>
      </section>
    {{/if}}
  </section>

  <!-- contact support button. ser ut som yes/no/follow-knappar -->
  <div class="article-more-questions">
    <a class="article-subscribe" title="Report Bug Ticket" rel="nofollow" role="button" aria-selected="false" href="/hc/en-us/requests/new?ticket_form_id=360000198814">Report Bug Ticket</a>
    <a class="article-subscribe" title="My Beta Profile" rel="nofollow" role="button" aria-selected="false" href="/hc/en-us/profile">My Beta Profile</a>
  </div>

  {{#if help_center.community_enabled}}
    <section class="section community">

      <h2>Forum - {{t 'community'}}</h2>
      {{#link 'community' class='community-link'}}
        <div class="community-image">{{t 'join_conversation'}}</div>
      {{/link}}
    </section>
  {{/if}}
  </div>
  
  <!-- community hidden
  {{#if help_center.community_enabled}}
    <section class="section community">
      <h2>{{t 'community'}}</h2>
      {{#link 'community' class='community-link'}}
        {{t 'join_conversation'}}
      {{/link}}

      <div class="community-image"></div>
    </section>
  {{/if}}
	-->
  
  <!--
  <section class="section activity">
    {{recent_activity}}
  </section>
	-->
</div>
